
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="~/Memories Logo.png" rel="icon" />
    <title>Memories</title>
    <meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts
    ============================================= -->
    <link rel="stylesheet" href="~/files/css/css2.css">

    <link href="@Url.Content("~/Admin/assets/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Admin/assets/css/icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Admin/assets/css/app.min.css")" rel="stylesheet" type="text/css" />
    <!-- Stylesheet
    ============================================= -->
    <link rel="stylesheet" type="text/css" href="/files/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/files/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/files/vendor/owl.carousel/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="/files/css/stylesheet.css" />
    <!-- Colors Css -->
    <link id="color-switcher" type="text/css" rel="stylesheet" href="#" />
    


    @*<link href="~/Css/devextreme/bootstrap.css" rel="stylesheet" />*@
    <link href="~/css/devextreme/dx.common.css" rel="stylesheet" />
    <link href="~/css/devextreme/dx.light.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type='text/javascript' src='https://knockoutjs.com/downloads/knockout-3.5.0.debug.js'>
    </script>
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/jquery-ui-dist@1.12.1/jquery-ui.min.js'></script>

    @*  <script src="~/Admin/lib/popper/js/popper.js"></script>*@



    @* <script src="~/js/devextreme/jquery.js"></script>*@
    <script src="~/js/devextreme/bootstrap.js"></script>
    <script src="~/js/devextreme/dx.all.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.mvc.js"></script>
    <script src="~/js/devextreme/aspnet/dx.aspnet.data.js"></script>

    @* end devextreme*@
    <style>
        .DeleteValidation {
            text-align: center;
            font-size: 25px;
        }

        td {
            text-align: center !important;
        }
    </style>
    <link href="~/Admin/assets/css/custom.css" rel="stylesheet" />
</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
        <div data-loader="dual-ring"></div>
    </div>
    <!-- Preloader End -->
    <!-- Document Wrapper
    ============================================= -->
    <div id="main-wrapper">

        <!-- Header
        ============================================= -->
        <header id="header">
            <div class="container">
                <div class="header-row">
                    <div class="header-column justify-content-start">
                        <!-- Logo
                        ============================= -->
                        <div class="logo me-3"> <a class="d-flex" href="~/index" title="Payyed - HTML Template"><img src="/files/images/logo.png" width="121" height="33" alt="Payyed" /></a> </div>
                        <!-- Logo end -->
                        <!-- Primary Navigation
                        ============================== -->
                        <nav class="primary-menu navbar navbar-expand-lg">
                            <div id="header-nav" class="collapse navbar-collapse">
                                <ul class="navbar-nav me-auto " style="font-weight: bold;">
                                    <li><a asp-area="Admin" asp-page="/repportmanagement/Trnsactions" style="font-weight: bold;">Transaction Reports</a></li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" href="#" style="font-weight: bold;">Payment Request</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown">
                                                <a class="dropdown-item " asp-area="Admin" style="font-weight: bold;" asp-page="/payment/create" style="font-weight: bold;">Create Request</a>

                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item " asp-area="Admin" style="font-weight: bold;" asp-page="/payment/transaction" style="font-weight: bold;">Transaction List</a>
                                            </li>
                                            <li class="dropdown">
                                                <a class="dropdown-item " asp-area="Admin" style="font-weight: bold;" asp-page="/payment/DeletedPayment" style="font-weight: bold;">Delete Payment</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Primary Navigation end -->
                    </div>
                    <div class="header-column justify-content-end">
                        <!-- Login & Signup Link
                        ============================== -->
                        @{
                            if (User.Identity.IsAuthenticated)
                            {
                            //<nav class="login-signup navbar navbar-expand dropdown">
                                //    <ul class="navbar-nav">
                                //        <li>
                                //            <a href="#">Hello @User.Identity.Name </a>
                                //            <div class="dropdown-menu dropdown-menu-end">
                                //                <a asp-area="Identity" asp-page="/Account/ChangePassword" class="dropdown-item text-danger">@sharedResource["Change Password"] </a>

                                //                <a asp-controller="Setting" asp-action="Logout" class="dropdown-item text-danger">@sharedResource["Logout"] </a>
                                //            </div>
                                //        </li>
                                //    </ul>
                                //</nav>
                                <nav class="login-signup navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <li class="dropdown language">
                                            <a class="dropdown-toggle" href="#">En</a>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">English</a></li>
                                                <li><a class="dropdown-item" href="#">Arabic</a></li>

                                            </ul>
                                        </li>

                                        <li class="dropdown profile ms-2">
                                            <a class="px-0 dropdown-toggle" href="#"><img class="rounded-circle" src="files/images/profile-thumb-sm.jpg" alt=""></a>
                                            <ul class="dropdown-menu">
                                                <li class="text-center text-3 py-2">Hi, @User.Identity.Name</li>
                                                <li class="dropdown-divider mx-n3"></li>
                                                <li><a class="dropdown-item" asp-area="Admin" asp-page="Profile"><i class="fas fa-user"></i>My Profile</a></li>
                                                <li><a class="dropdown-item" asp-area="Identity" asp-page="/account/manage/ChangePassword"><i class="fas fa-shield-alt"></i>Change Password</a></li>
                                                <li><a class="dropdown-item" href="#"><i class="fas fa-credit-card"></i>Payment Methods</a></li>

                                                <li class="dropdown-divider mx-n3"></li>
                                                <li><a class="dropdown-item" href="~/help"><i class="fas fa-life-ring"></i>Need Help?</a></li>
                                                <li><a class="dropdown-item" asp-controller="Setting" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Sign Out</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            }
                            else
                            {
                                <nav class="login-signup navbar navbar-expand">
                                    <ul class="navbar-nav">
                                        <li><a asp-area="Identity" asp-page="/Account/Login">Login</a> </li>
                                        <li class="align-items-center h-auto ms-sm-3"><a class="btn btn-primary" asp-area="Identity" asp-page="/Account/register">Sign Up</a></li>
                                    </ul>
                                </nav>
                            }
                        }


                        <!-- Login & Signup Link end -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
        <div class="container">


            @RenderBody()

        </div>
        <!-- Footer
        ============================================= -->
        <footer id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg d-lg-flex align-items-center">
                        <ul class="nav justify-content-center justify-content-lg-start text-3">
                            <li class="nav-item"> <a class="nav-link active" href="#">About Us</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Careers</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Affiliate</a></li>
                            <li class="nav-item"> <a class="nav-link" href="#">Fees</a></li>
                        </ul>
                    </div>
                    <div class="col-lg d-lg-flex justify-content-lg-end mt-3 mt-lg-0">
                        <ul class="social-icons justify-content-center">
                            <li class="social-icons-facebook"><a data-bs-toggle="tooltip" href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-icons-google"><a data-bs-toggle="tooltip" href="http://www.google.com/" target="_blank" title="Google"><i class="fab fa-google"></i></a></li>
                            <li class="social-icons-youtube"><a data-bs-toggle="tooltip" href="http://www.youtube.com/" target="_blank" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-copyright pt-3 pt-lg-2 mt-2">
                    <div class="row">
                        <div class="col-lg">
                            <p class="text-center text-lg-start mb-2 mb-lg-0">Copyright &copy; 2022 <a href="#">Payyed</a>. All Rights Reserved.</p>
                        </div>
                        <div class="col-lg d-lg-flex align-items-center justify-content-lg-end">
                            <ul class="nav justify-content-center">
                                <li class="nav-item"> <a class="nav-link active" href="#">Security</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Terms</a></li>
                                <li class="nav-item"> <a class="nav-link" href="#">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer end -->

    </div>
    <!-- Document Wrapper end -->
    <!-- Back to Top
    ============================================= -->
    <a id="back-to-top" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fa fa-chevron-up"></i></a>

    <!-- Video Modal
    ============================================= -->
    <div class="modal fade" id="videoModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content bg-transparent border-0">
                <button type="button" class="btn-close btn-close-white ms-auto me-n3" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body p-0">
                    <div class="ratio ratio-16x9">
                        <iframe id="video" src="" allow="autoplay;" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal end -->
    <!-- Styles Switcher -->
    <div id="styles-switcher" class="left">
        <h2 class="text-3">Color Switcher</h2>
        <hr>
        <ul>
            <li class="blue" data-bs-toggle="tooltip" title="Blue" data-path="css/color-blue.css"></li>
            <li class="indigo" data-bs-toggle="tooltip" title="Indigo" data-path="css/color-indigo.css"></li>
            <li class="purple" data-bs-toggle="tooltip" title="Purple" data-path="css/color-purple.css"></li>
            <li class="pink" data-bs-toggle="tooltip" title="Pink" data-path="css/color-pink.css"></li>
            <li class="red" data-bs-toggle="tooltip" title="Red" data-path="css/color-red.css"></li>
            <li class="orange" data-bs-toggle="tooltip" title="Orange" data-path="css/color-orange.css"></li>
            <li class="yellow" data-bs-toggle="tooltip" title="Yellow" data-path="css/color-yellow.css"></li>
            <li class="teal" data-bs-toggle="tooltip" title="Teal" data-path="css/color-teal.css"></li>
            <li class="cyan" data-bs-toggle="tooltip" title="Cyan" data-path="css/color-cyan.css"></li>
            <li class="brown" data-bs-toggle="tooltip" title="Brown" data-path="css/color-brown.css"></li>
        </ul>
        <button class="btn btn-dark btn-sm border-0 fw-400 rounded-0 shadow-none" data-bs-toggle="tooltip" title="Green" id="reset-color">Reset Default</button>
        <button class="btn switcher-toggle"><i class="fas fa-cog"></i></button>
    </div>
    <!-- Styles Switcher End -->
    <!-- Script -->
    <script src="/files/vendor/jquery/jquery.min.js"></script>
    <script src="/files/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/files/vendor/owl.carousel/owl.carousel.min.js"></script>
    <!-- Style Switcher -->
    <script src="/files/js/switcher.min.js"></script>
    <script src="/files/js/theme.js"></script>
    <script src="~/Admin/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Admin/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="~/Admin/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="~/Admin/assets/libs/node-waves/waves.min.js"></script>
    <!-- Datatable init js -->
    <script src="~/Admin/assets/js/pages/datatables.init.js"></script>
    <script src="~/Admin/assets/js/app.js"></script>
</body>
</html>