@page
@model Memories.Areas.Admin.Pages.Gateway.DetailsModel
@{
}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Details"]
                            <a asp-page="list" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">

                        <div style="padding-top:20px;padding-left:20px;padding-right:20px">

                            <div class="row">

                                <h4> @sharedResource["Informations"] </h4>
                                <hr />
                                <div class="col-md-12 col-lg-12 mt-4">

                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["Title"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.Title </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 col-lg-12 mt-4">

                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["TestURL"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.TestURL </dd>
                                    </dl>
                                </div>

                                <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["ApiKey"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.ApiKey </dd>
                                    </dl>
                                </div>

                                <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["Merchant Id"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.MerchantId </dd>
                                    </dl>

                                </div>
                                <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["UserName"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.UserName </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 col-lg-12 mt-4">
                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["Password"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.Password </dd>
                                    </dl>
                                </div>
                                <div class="col-md-12 col-lg-12 mt-4">

                                    <dl class="row">
                                        <dt class="col-sm-2">@sharedResource["Test mode"]  </dt>
                                        <dd class="col-sm-10"> @Model.gateway.Testmode </dd>
                                    </dl>
                                </div>

                                
                               

                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
